body {
	background: #4F4FB6;
	font-family: 'PT Sans', sans-serif;
	overflow: hidden; 
	height: 100%;
}

div.wrapper { 
	overflow: auto; 
	height: 100%; 
}

.title {
	font-size: 3em;
	font-weight:normal;
	color: #F0F0F8;
	line-height: 62px;
	text-align:center;
	margin-top: 13.020833333333%; /* 125/960 */
	margin-bottom: 20px;
	margin-left: auto;
    margin-right: auto;
}

.tagline {
	font-size: 1.55em;
	color: #F0F0F8;
	line-height: 33px;
	text-align:center;
	margin-top: 20px;
	margin-left: auto;
    margin-right: auto;
}

.social {
    padding:0;
    text-align:center;
    display:block;
    list-style:none;
    margin-top: 22px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.social li {
	display: inline-block;
}

.social li a {
	width: 60px;
	height: 60px;
	display: block;
	margin: 11px;
    float:left;
    position:relative;
    background-image:url(../images/spritesheet.png);
    background-size: 420px 120px;
    background-repeat: no-repeat;
}

.twitter {
	background-position:0px 0px;
}

.twitter:hover {
	background-position: 0px -60px;
}

.github {
	background-position: -180px 0px;
}

.github:hover {
	background-position: -180px -60px;
}

.pinterest {
	background-position: -300px 0px;
}

.pinterest:hover {
	background-position: -300px -60px;
}

.linkedin {
	background-position: -360px 0px;
}

.linkedin:hover {
	background-position: -360px -60px;
}

.googleplus {
	background-position: -60px 0px;
}

.googleplus:hover {
	background-position: -60px -60px;
}

.dribbble {
	background-position: -120px 0px;
}

.dribbble:hover {
	background-position: -120px -60px;
}

.vimeo {
	background-position: -240px 0px;
}

.vimeo:hover {
	background-position: -240px -60px;
}

@media (max-width: 550px) {
	.title {
		line-height: 62px;
		width: 300px;
	}

	.tagline {
		line-height: 33px;
		width: 300px;
	}
}

@media (min-width: 960px) {
	.title {
		margin-top: 125px;
	}
}

@media (min-width: 400px) {
	.social {
		width: 340px;
	}
}

/* CSS for high-resolution devices */
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    .icons {
        background-image: url(../images/spritesheet@2x.png);
        background-size: 420px 120px;
        background-repeat: no-repeat;
    }
}
