/* Reset */

body, h1, p, ul, a, li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* Elements */

body {
  font-family: 'PT Sans', sans-serif;
  background: #fafafa;
  color: #454a4d;
}

svg {
  fill: #454a4d;
}

/* Text */

.title {
  font-size: 3rem; /* 48 / 16 */
  text-align: center;
  margin-top: 120px;
}

.subtitle {
  font-size: 1.875rem; /* 48 / 16 */
  text-align: center;
  margin-top: 80px;
}

/* Icons */

.logo {
  margin: 18px 0 0 18px;
  width: 50px;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.social {
  display: flex;
  margin: 80px 0;
}

.social-button {
  display: inline-block;
  margin: 0 10px;
  width: 60px;
  height: 60px;
}

a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.social-button:hover {
  filter: brightness(2.0);
}

/* Media */

@media only screen and (max-width : 520px) {
  .title {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #323232;
    color: #f0f0f0;
  }

  svg {
    fill: #f0f0f0;
  }

  .social-button:hover {
    filter: brightness(0.5);
  }
}
